<div class="panel-heading">
	<ul class="list-inline list-unstyled">
		<li>
			<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saveAuthorModal" ng-click="clear()">
	        <span class="glyphicon glyphicon-flash"></span> Create a new Author
	        </button>
		</li>
		<li>|</li>		
		<li>
		<div><input type="text" class="form-control" placeholder="Search..." ng-model = "searchText" ng-change="search()"> </div> 
        
		</li>
	</ul>   	
</div>
<div class="panel-body">    
    <div class="modal fade" id="saveAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myAuthorLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAuthorLabel">Author details</h4>
                    </div>
                    <div class="modal-body">
                    
                       <div class="form-group">
                       <div class = "col-sm-2">
	                       <div class="input-group">
			                    
			                </div> 
                       </div>			                  
			               
			            </div>    
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="author.name">
                        </div>
                        <div class="form-group">
                            <label>Summary</label>
                            <input type="text" class="form-control"
                                   ng-model="author.summary">
                        </div>                        
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
 <div class="modal fade" id="showAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myAuthorLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="show(author.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAuthorLabel">Author details</h4>
                    </div>
                    
                        <div class="form-group">
                            <label>Name</label>
                         {{author.name}}
                        </div>
                        <div class="form-group">
                            <label>Summary</label>
                         {{author.summary}}
                        </div>
                       
                      
             
                    <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Hide
                        </button>
                   </div>
                   </div>
                </form>
                </div>
            </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Summary</th>
                    <th>Picture</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="author in authors">
                    <td>{{author.name}}</td>
                    <td>{{author.summary}}</td>
                    <td>{{author.picture}}</td>
                    <td>
                    
                    <button type="submit" 
	                    	ng-click="show(author.id)" 
	                    	class="btn btn-success">
 						<span class="glyphicon glyphicon-info-sign"></span> Show author
 					</button>
 
                        <button type="submit"
                                ng-click="update(author.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(author.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
