<div class="panel-heading">
	<ul class="list-inline list-unstyled">
		<li>
			<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saveAuthorModal" ng-click="clear()">
	        <span class="glyphicon glyphicon-flash"></span> Create a new Author
	        </button>
		</li>
		<li>|</li>		
		<li>
		<div><input type="text" class="form-control" placeholder="Search..." ng-model = "searchText" ng-change="search()"> </div> 
        
		</li>
	</ul>   	
</div>
<div class="panel-body">    
    <div class="modal fade" id="saveAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myAuthorLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAuthorLabel">Author details</h4>
                    </div>
                    <div class="modal-body">
                    <div class="form-group">
                       <div class = "col-sm-2">
	                       <div class="input-group">
			                    <a href="#" class="pull-right">
			                        <img title="profile image" id = "img" class="img-circle img-responsive" data-ng-src="{{author.picture}}""/>
			                    </a>
			                </div> 
                       </div>			                  
			               <div class="form-group input-group">
			                   <div file-input="file" on-change="readFile(file)" name="Image"></div>                                    
			                </div>
			            </div>      
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="author.name">
                        </div>
                        <div class="form-group">
                            <label>Summary</label>
                            <input type="text" class="form-control"
                                   ng-model="author.summary">
                        </div>                        
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
   <div ng-repeat="author in authors" class="well">
		<div class="media">
        <div class="pull-left">
            <a href="" role="tab" data-toggle="tab">
            <img id = "picture" class="media-object" data-ng-src="{{author.picture}}">
            </a>                
        </div>
        <div class="media-body">
           <h4 class="media-heading">{{author.name}}</h4>
           <br>
           <text>{{author.summary}}</text>
            <ul class="list-inline list-unstyled">
               <li>
                   <span class="glyphicon glyphicon-book"></span>                       
                   {{author.books.length}} books
               </li>
               <li>	| </li>
               <li>
               <a href="#/authordetails/{{author.id}}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-eye-open"></span>Show author</a>					
                </li>
               <li>
               
                <button type="submit" ng-click="update(author.id)" class="btn btn-xs btn-default">
                   <span class="glyphicon glyphicon-pencil"></span>Edit author
                </button>
               </li>
               <li>
                <button type="button" ng-really-message="Are you sure you want to delete this?" ng-really-click="delete(author.id)" class="btn btn-xs btn-danger">
                      <span class="glyphicon glyphicon-remove-circle"></span> Delete author
                </button>
               </li>
           </ul>
        </div>
  </div>
</div>
