<div class="well">
    <div class="media"> 
        <div class="pull-left">           
              <img title="profile image" class="picture-small" data-ng-src="{{author.picture}}"/>  
                     
        </div>
        <div class="media-body">
            <h1 class="media-heading">{{author.name}}</h1>
            <b>Summary:</b>
            <p>{{author.summary}}</p>                                           
        </div>  
    </div> 
    <br>
    <div class="panel panel-default"> 
	    <div class="panel-heading">
		    <ul class="list-inline list-unstyled">
			    <li><span class="badge">{{author.books.length}}</span></li>
			    <li>Books</li>
		    </ul>    
	    </div> 
	    <div class="panel-body body">      
			<div ng-repeat="book in author.books" class="col-sm-3 col-md-2 body">
				<div class="thumbnail body">
					<img id = "picture" class="media-object" data-ng-src="{{book.picture}}">
					<div class="caption">
					    <h3 class="media-heading">{{book.title}}</h3>
			            <a href="#/bookdetails/{{book.id}}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-eye-open"></span>Show book</a>
					</div>
				</div>	           
	        </div> 
	    </div>
    </div>
    <div class="modal fade" id="saveAuthorModal" tabindex="-1" role="dialog" aria-labelledby="myAuthorLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myAuthorLabel">Update Author</h4>
                    </div>
                    <div class="modal-body">
                    <div class="form-group">
                       <div class = "col-sm-2">
	                       <div class="input-group">
			                    <a href="#" class="pull-right">
			                        <img title="profile image" id = "img" class="img-circle img-responsive" data-ng-src="{{author.picture}}""/>
			                    </a>
			                </div> 
                       </div>			                  
			               <div class="form-group input-group">
			                   <div file-input="file" on-change="readFile(file)" name="Image"></div>                                    
			                </div>
			            </div>      
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="author.name">
                        </div>
                        <div class="form-group">
                            <label>Summary</label>
                            <input type="text" class="form-control"
                                   ng-model="author.summary">
                        </div>                        
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</div>