<div class="panel-heading">
	<ul class="list-inline list-unstyled">
		<li>
			<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#saveBookModal" ng-click="clear()">
		        <span class="glyphicon glyphicon-flash"></span> Create a new Book
		    </button> 
		</li>
		<li>|</li>
		<li>		
		<div>			
		     <input type="text" class="form-control" placeholder="{{searchCriteria}}" ng-model = "searchText" ng-change="search()">		     	     
        </div>         
		</li>
		<li>
			<select ng-model = 'searchCriteria' class="form-control">
			      <option >Title</option >
			      <option >Author</option >
			      <option >Genre</option >
			    </select>
		</li>		
	</ul>   	
</div>
<div class="panel-body">    
    <div class="modal fade" id="saveBookModal" tabindex="-1" role="dialog" aria-labelledby="myBookLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myBookLabel">Create or edit a Book</h4>
                    </div>
                    <div class="modal-body">                    
                       <div class="form-group">
                       <div class = "col-sm-2">
	                       <div class="input-group">
			                    <a href="/users" class="pull-right">
			                        <img title="profile image" id = "img" class="img-circle img-responsive" data-ng-src="{{src}}""/>
			                    </a>
			                </div> 
                       </div>			                  
			               <div class="form-group input-group">
			                   <div file-input="file" on-change="readFile(file)" name="Image"></div>                                    
			                </div>
			            </div>    
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control"
                                   ng-model="book.title">
                        </div>
                        <div class="form-group">
                            <label>Summary</label>
                            <input type="text" class="form-control"
                                   ng-model="book.summary">
                        </div>                        
                         <div class="form-group">
                             <label>author</label>
                             <select class="form-control" multiple ng-model="book.authors" ng-options="author as author.name for author in authors track by author.id">
                             </select>
                         </div>
                         <div class="form-group">
                             <label>genre</label>
                             <select class="form-control" multiple ng-model="book.genres" ng-options="genre as genre.name for genre in genres track by genre.id">
                             </select>
                         </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  
<div ng-repeat="book in books" class="well">
		<div class="media">
           <div class="pull-left">
               <a href="#bookDetails" role="tab" data-toggle="tab">
               <img id = "picture" class="media-object" data-ng-src="{{book.picture}}">
               </a>                
           </div>
           <div class="media-body">
               <h4 class="media-heading">{{book.title}}</h4>
               <p class="text-left">
	               <ul class="list-inline list-unstyled">
		               <li><b>By:</b></li>
		               <li ng-repeat="author in book.authors">{{author.name}} </li>
	               </ul>
               </p>  
               <p class="text-left">
	               <ul class="list-inline list-unstyled">
		               <li><b>Genres:</b></li>
		               <li ng-repeat="genre in book.genres">{{genre.name}} </li>
	               </ul>
               </p>                    
               <ul class="list-inline list-unstyled">
                   <li>
                   <span><i class="glyphicon glyphicon-comment"></i> {{book.comments.length}} comments</span>
                   </li>
                   <li>|</li>
                   <li>
                    <span ng-repeat = "s in fullStars(book)"  class="glyphicon glyphicon-star"></span>                
                    <span ng-repeat = "s in emptyStars(book)"  class="glyphicon glyphicon-star-empty"></span>                    
                   </li>
                   <li>	| </li>
                   <li>
                   <a href="#/bookdetails/{{book.id}}" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-eye-open"></span>Show book</a>					
                    </li>
                   <li>
                   
	                   <button type="submit" ng-click="update(book.id)" class="btn btn-xs btn-default">
	                      <span class="glyphicon glyphicon-pencil"></span>Edit book
	                   </button>
                   </li>
                   <li>
	                   <button type="submit" ng-click="delete(book.id)" class="btn btn-xs btn-danger">
                          <span class="glyphicon glyphicon-remove-circle"></span> Delete book
	                   </button>
                   </li>
               </ul>
           </div>
        </div>
    </div>
</div>